<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BARBERS EDIT PAGE</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <header>
    <% include ../partials/_navbar %>
    </header>

    <main>
        <h1><%= barber.username %> Page:</h1>

        <form action="/barbers/<%=barber._id%>?_method=PUT" method="POST">
            <!-- Username:<input type="text" name="username" value="<%=barber.username%>">
            Password:<input type="text" name="password" value="<%=barber.password%>"> -->

            <h3>Click "Update Barber" To Let The Barber Know Your On The Way:</h3>
            Seat Status:<label class="switch">
                            <input type="checkbox"  name="seatStatus"
                            <% if (barber.seatStatus === true){ %>
                                checked
                            <% } %> 
                            >   
                            <span class="slider round"></span>
                        </label>
            Rating: <input type="number" name="rating" min="1" max="5">
            <button id="seatStatusBtn" type="submit">Update Barber</button>
            


        
        </form>

        <form action="/barbers/<%=barber._id%>?_method=DELETE" method="POST" >
            <input type="submit" value="Delete Barber">
        </form>

        <form action="/auth/logout" method="GET" >
            <input type="submit" value="Logout">
        </form>

    </main>
    
</body>
</html> 
