<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BARBERS SHOW PAGE</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <header>
    </header>

    <main>
        <h1>Barbers Show Page:</h1>
        <% include ../partials/_navbar %>
        <ul>
            <li>Barber: <%= barber.username %></li>
            <!-- <li>Password: <%= barber.password %></li> -->
            <li>Current Customer:<% if(barber.seatStatus == false){ %>
                <%= `${user.username} Is On The Way` %>
              <%  }else{ %>
                    <%= "None" %>
             <% } %> </li>
            <li> Seat Status:
                <% if(barber.seatStatus === true){ %>
                    <%= "I'm Available"%>
                <% }else{ %>
                    <%= "I'm Not Available" %>
                <% } %>   
            </li>
        </ul>
        

        <form action='/barbers/<%=barber._id%>?_method=DELETE' method="POST">
            <input type="submit" value='Delete My Barber Profile'>
        </form>

            <button>
                <a href='/barbers/<%=barber._id%>/edit'>Set Seat Status / Edit Profile</a>
            </button>
        </form>

        <form action="/auth/logout" method="GET" >
            <input type="submit" value="Logout">
        </form>

    </main>
    
</body>
</html>