<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BARBERS SHOW PAGE</title>
</head>
<body>

    <header>
    </header>

    <main>
        <h1>Barbers Show Page:</h1>
        
        <ul>
            <li>Username: <%= barber.username %></li>
            <li>Password: <%= barber.password %></li>
            <li>Customers: <%= barber.users %></li>
        </ul>

        <form action='/barbers/<%=barber._id%>?_method=DELETE' method="POST">
            <input type="submit" value='Delete Barber'>
        </form>

        <button>
            <a href='/barbers/<%=barber._id%>/edit'>Edit Barber</a>
        </button>

        <form action="/auth/logout" method="GET" >
            <input type="submit" value="Logout">
        </form>

        <nav>
            <ul>
                <li><a href='/'>Return To Homepage</a></li>
                <li><a href='/barbers'>Barbers Index</a></li>
            </ul>
        </nav>

    </main>
    
</body>
</html>