<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BARBERS SHOW PAGE</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <header>
        <% include ../partials/_navbar %>
    </header>

    <main>
        <h1><%= barber.username %></h1>
        <ul id="barberShowStats">
            <li>Current Customer:<% if(barber.seatStatus == false){ %>
                <%= `${user.username} Is On The Way` %>
              <%  }else{ %>
                    <%= "None" %>
             <% } %> </li>
            <li> Seat Status:
                <% if(barber.seatStatus === true){ %>
                    <%= "I'm Available"%>
                <% }else{ %>
                    <%= "I'm Not Available" %>
                <% } %>   
            </li>
            <li>
                Rating: <%= `${barber.rating} out of 5 stars` %>
            </li>
        </ul>
    

            <button>
                <a id="seatStatusBtn" href='/barbers/<%=barber._id%>/edit'>Set Seat Status</a>
            </button>
        </form>

        <form id="logoutBtn" action="/auth/logout" method="GET" >
            <input type="submit" value="Logout">
        </form>

    </main>
    
</body>
</html>