<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>USERS EDIT PAGE</title>
</head>
<body>

    <header>
            <% include ../partials/_navbar %>
    </header>

    <main>
        <h1>User Attributes:</h1>

        <form action="/users/<%=user._id%>?_method=PUT" method="POST">
            Username:<input type="text" name="username" value="<%=user.username%>">
            Password:<input type="text" name="password" value="<%=user.password%>">
            Barbers:<select type="radio" name="barberId">
                <% for(i = 0; i < barber.length; i++) { %>
                    <option value="<%= barber[i]._id %>"><%=barber[i].username%></option>
                <% } %>
            </select> <br>

        <button type="submit">Update User</button>
        </form>

        <form action="/users/<%=user._id%>?_method=DELETE" method="POST" >
            <input type="submit" value="Delete User">
        </form>

        <form action="/auth/logout" method="GET" >
            <input type="submit" value="Logout">
        </form>
    </main>
    
</body>
</html>