<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>USERS EDIT PAGE</title>
</head>
<body>

    <header>
    </header>

    <main>
        <h1>User Attributes:</h1>

        <form action="/users/<%=user._id%>?_method=PUT" method="POST">
            Username:<input type="text" name="username" value="<%=user.username%>">
            Password:<input type="text" name="password" value="<%=user.password%>">
            Barbers:<input type="text" name="barbers" value="<%=user.barbers%>">
        <button type="submit">Update User</button>
        </form>

        <form action="/users/<%=user._id%>?_method=DELETE" method="POST" >
            <input type="submit" value="Delete User">
        </form>

        <nav>
            <ul>
                <li><a href='/'>Return To Homepage</a></li>
                <li><a href='/users'>Users Index</a></li>
            </ul>
        </nav>

        <form action="/auth/logout" method="GET" >
            <input type="submit" value="Logout">
        </form>
    </main>
    
</body>
</html>
