<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>USERS SHOW PAGE</title>
</head>
<body>

    <header>
    </header>

    <main>
        <h1>Users Show Page:</h1>
        <% include ../partials/_navbar %>
        <ul>
            <li>Username: <%= user.username %></li>
            <!-- <li>Password: <%= user.password %></li> -->
            <% if(user.barbers.length > 0){ %>
                <li>Barbers: <% user.barbers.forEach((barber)=>{ %>
                    <%= barber.username %>
                <% }) %>
                </li>
            <% } %>
        </ul>

        <form action='/users/<%=user._id%>?_method=DELETE' method="POST">
            <input type="submit" value='Delete User'>
        </form>

        <button>
            <a href='/users/<%=user._id%>/edit'>Edit User</a>
        </button>
        
        <form action="/auth/logout" method="GET" >
            <input type="submit" value="Logout">
        </form>

        <nav>
            <ul>
                <li><a href='/'>Return To Homepage</a></li>
                <li><a href='/users'>Users Index</a></li>
            </ul>
        </nav>

    </main>
    
</body>
</html>
